:root {
  --primary-color: #39c2d7;
}

.primary-bg {
  background-color: var(--primary-color);
}

.main {
  height: 100vh;
  width: 100wh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: white;
  text-align: center;
  border: 5px solid #a3c644;
  padding: 50px;
}
